<div class="d-flex justify-content-center align-items-center container">
    <div class="card py-5 px-3">
        <h5 class="m-0">Email verification</h5>
        <span class="mobile-text">Enter the code we just send on your Email
             <b class="text-danger">{{signupData.email}}</b>
        </span>
        <div class="d-flex flex-row mt-5">
           <!--  <div *ngFor="let item of otp; let i = index">               
                <ng-template *ngIf="i==otp.length else elseBlock">
                    <input type="text"  maxlength="1" (keyup)="verifyOTP()" class="form-control"  oninput="this.value=this.value.replace(/[^0-9]/g,'');">                
                </ng-template>
                <ng-template #elseBlock>
                    <input type="text"  maxlength="1" (keyup)="movetoNext($event)" class="form-control"  oninput="this.value=this.value.replace(/[^0-9]/g,'');">
                </ng-template>
                {{i}}
            </div> -->
            <input type="text"  [(ngModel)]="otp[0]" maxlength="1" (keyup)="movetoNext($event)" class="form-control"  oninput="this.value=this.value.replace(/[^0-9]/g,'');">
            <input type="text"  [(ngModel)]="otp[1]" maxlength="1" (keyup)="movetoNext($event)"  class="form-control"  oninput="this.value=this.value.replace(/[^0-9]/g,'');">
            <input type="text"  [(ngModel)]="otp[2]" maxlength="1" (keyup)="movetoNext($event)" class="form-control"  oninput="this.value=this.value.replace(/[^0-9]/g,'');">
            <input type="text"  [(ngModel)]="otp[3]" maxlength="1" (keyup)="movetoNext($event)"  class="form-control"  oninput="this.value=this.value.replace(/[^0-9]/g,'');">
            <input type="text"  [(ngModel)]="otp[4]" maxlength="1" (keyup)="movetoNext($event)"  class="form-control"  oninput="this.value=this.value.replace(/[^0-9]/g,'');">
            <input type="text"  [(ngModel)]="otp[5]" maxlength="1" (keyup)="movetoNext($event)"class="form-control"  oninput="this.value=this.value.replace(/[^0-9]/g,'');">        
        </div>
        <div class="text-center mt-5">
            <span class="d-block mobile-text">Don't receive the code?</span>
            <span class="font-weight-bold text-danger cursor" (click)="reSendSignupOTP()">Resend</span>
        </div>        
    </div>
    <div *ngIf="isInValidOTP">
        <span class="font-weight-bold text-danger cursor">Please Enter Valid OTP</span>
    </div>
</div>
