<div class="loginContainer responsive">
	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<div class="card customClass">
				<div class="card-header">
					<h3 class="loginFormText">Login</h3>				
				</div>
				<div class="card-body">
					<form #loginForm="ngForm">											
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input name="email" class="form-control"  placeholder="Email" type="email" 
							[(ngModel)]="userDetails.email"
							#myemail="ngModel"
							[ngClass]="{ 'is-invalid': myemail.invalid && myemail.touched ||invalidEmailLength }" required email>																								
						</div>
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" class="form-control" placeholder="password" name="password" 
							[ngClass]="{'is-invalid':userDetails.password1.length==0 && mypassword.touched || invalidEmailLength}"
							#mypassword = "ngModel"
							[(ngModel)]="userDetails.password1" required>
						</div>
						<div *ngIf="invalidUserNameOrPassword">
							<p class="danger">Invalid Email or Password</p>
						</div>
						<div class="row align-items-center remember">
							<input type="checkbox">Remember Me
						</div>						
						<div class="form-group">
							<button type="submit" (click)="loginSubmit()" class="btn float-right login_btn">Login</button>
						</div>
					</form>
				</div>
				<div class="card-footer">
					<div class="d-flex justify-content-center links">
						Don't have an account?<a routerLink="/signup">Sign Up</a>
					</div>
					<div class="d-flex justify-content-center">
						<a routerLink="/signup">Forgot your password?</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>