<div *ngIf=isValidUser>
  <div class="myChart" style="display: block;" >
      <div class="downloadButton">
        <select  #myVal (change)='selectChartType(myVal.value)' class="custom-select" style="max-width: 120px;" name="code">       
          <option *ngFor="let code of chartType" [value]="code">{{code}}</option>
       </select>
        <button  class="btn btn-primary customMargin" (click)="downloadAsPDF()">Download As PDF</button>     
        <button  class="btn btn-primary customMargin"  (click)="downloadAsExcel()">Download As Excel</button>                      
        <button  class="btn btn-primary LogoutMargin"  (click)="logout()">Logout</button>
      </div>  
    <canvas baseChart id="pdfTable" #pdfTable
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [legend]="barChartLegend"
      [chartType]="barChartType">
    </canvas>   
  </div>
</div>

  
